:deep(#md-editor-v3) {
  font-family: cartoon;
  transition: $transition;
  common {
    margin: 0;
    color: var(--text-color);
  }
  h1 {
    font-size: 25px;
    @extend common;
  }
  h2 {
    font-size: 23px;
    @extend common;
  }
  h3 {
    font-size: 21px;
    @extend common;
  }
  h4 {
    font-size: 19px;
    @extend common;
  }
  h5 {
    font-size: 17px;
    @extend common;
  }
  h6,
  p {
    font-size: 15px;
    @extend common;
  }
}
.card {
  box-sizing: border-box;
  min-height: 50px;
  margin: 5px 0;
  padding: 0.5rem 1rem;

  .number {
    font-size: 20px;
    font-weight: 500;

    transform: translate(20%, -105%);
    @extend center;
  }
  .icon {
    height: 20px;
    width: 40px;
  }
}
