html,
body/* ,
div,
span */
 {
  font: inherit;
  font-size: 100%;
  margin: 0 ;
  padding: 0;
  border: 0;
}


body {

  font-family: cartoon;

  color:var( --text-color);
}

@font-face{
  font-family: cartoon;
  src: url('../styles/SourceHanSansCN-VF-2.otf')
}
