// 亮色模式下的主题色
:root {
   --color-background: rgb(245, 245, 245);
  //卡片
  --color-card: #f2f2f2;
   //阴影
   --color-box-shadow: 2px 2px 10px 2px#6a6666;
   //字体
   --text-color: #333333;
    // footer
  --color-footer: linear-gradient(135deg, #64a5ff, #3b82f6);

  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  --color-like:#3b82f6;


}


// 暗色模式下的主题色
html.dark {
  --color-background: #111111;
  //卡片
  --color-card: rgb(34, 34, 42);
   //阴影
   --color-box-shadow: 2px 2px 10px 2px#6f6f6f;
   //字体
   --text-color: #A0A0A0;
  //footer
  --color-footer: linear-gradient(135deg,#000c40,#607d8b);
  --color-like:#607d8b;
  --box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);



}
